extends ../layout

block header
    link(rel="stylesheet", href="/stylesheets/index.css")

block content
    div(id="react-app")!=bodyContent
    div(id="testNodemon")=testNodemon
    script(src="//jackwang.com/nodePractice/myapp-local/dist/index.js?t=" + time)
